---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About This Site</h1>
  
    <p>I am working through Astro's introductory tutorial.</p>
  
    <p>I am planning to use this site to learn Astro so that I can build a couple of other projects with it. I also plan to write about my experience as a career changer in the dev world, and my thoughts while building projects & tutorials. Check back in to see what's going on!</p>
	</body>
</html>
