---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Blog";
---

<BaseLayout pageTitle = {pageTitle}>
	<h2>What Have I Been Up To?</h2>
  
	<p>I'm so glad you asked!</p>

	<p>Here you will find a list of my blog posts.</p>
		<ul>
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
</BaseLayout>