---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle ="Home Page";

---

<BaseLayout pageTitle={pageTitle}>
	<h1>savvydoes</h1>
	<h1>Welcome to the blog of Savannah Acevedo</h1>
	<h2>My Awesome Blog Subtitle</h2>
</BaseLayout>