---

---

<section>
  <span>Explore and enjoy!</span>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    font-style: italic;
    padding: 2rem;
  }
</style>