---
const platform = "github";
const username = "savvycolleen";
const portfolio = "https://savannah-portfolio.netlify.app/";

---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a> and checkout my <a href ={portfolio}!>portfolio</a>!</p>
</footer>