---

---

<section class="dark">
  <h1 class="hero">savvydoes</h1>
</section>

<style>
  .hero {
    font-family: "Playfair Display", sans-serif;
    font-size: 8rem;
  }
  section {
    height: 40vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px black solid;
    margin-bottom: 5rem;
  }
  .dark {
    border-bottom: 1px white solid;
  }
</style>